<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subway</title>
</head>
<body>
    <a th:href="@{/}"><img th:src="@{/images/logo.png}"></a> 
    <h1>Login</h1>
    <form th:action="@{/login}" method="POST">
        <span>Username: </span>
        <input type="text" name="username">
        <br> <br>
        <span>Password: </span>
        <input type="password" name="password">
        <br> <br>
        <button>Login</button>
    </form>
</body>
</html>